<?xml version="1.0"?>

<launch>
        <node pkg="airship_keyboard" type="odometry.py" name="odometry_runalone"  output="screen">
        		<param name="rate" value="30.0" type="double"/>
				<param name="topic" value="odometry" type="string"/>
				<param name="topic_hardcom" value="hardcom" type="string"/>
				<param name="topic_camcom" value="cameracom" type="string"/>
				<param name="topic_command" value="command" type="string"/>
        </node>
</launch>
